.map-point
    cursor: pointer
    outline: none
    z-index: 0
    position: absolute
    width: $map-dot-size
    height: $map-dot-size
    @include border-radius($map-dot-size/2)
    @include opacity(0.8)
    @include translate(-50%, -50%)
    @include transition(opacity $transition-time ease-in-out $transition-time, width $transition-time ease-in-out $transition-time, height $transition-time ease-in-out $transition-time, z-index $transition-time ease-in-out $transition-time)
    background: transparentize($color-background, 0.15)
    border: $map-dot-size/8 solid $color-highlight-dark
    .content
      @include opacity(0)
      @include transition(opacity $transition-time ease-in-out)
      width: 100%
      height: 100%
      left: 50%
      @include translateX(-50%)
      overflow: overlay
    &:active, &:focus
      //Deal with Firefox :active styling
      margin: 0
      padding: 0
      @include opacity(1)
      width: 300px
      height: 220px
      color: $color-foreground
      z-index: 1
      @include transition(opacity $transition-time ease-in-out, width $transition-time ease-in-out, height $transition-time ease-in-out)
      .content
        @include opacity(1)
        @include transition(opacity $transition-time ease-in-out $transition-time, height 0 ease-in-out $transition-time, overflow 0 ease-in-out $transition-time)
        overflow: hidden
        a:hover, a:active
          color: $color-highlight)

 .description
  max-width: 600px
  margin: 0 auto
  color: transparentize($color-foreground, 0.3)